<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {%- if site.email -%}
        <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
        {%- endif -%}
      </div>

      <div class="footer-col footer-col-2">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-medium"></i>
        <i class="fab fa-rocketchat"></i>
        <!--<i class="fab fa-facebook"></i>-->
        <!--<i class="fab fa-linkedin"></i>-->
        <i class="fab fa-github"></i>
        <!--<i class="fab fa-youtube"></i>-->
        <input width="200" /> <button>Subscribe</button>
      </div>

      <div class="footer-col footer-col-3">
        <div><a href="/partnership/">Become a partner</a> Какие ещё формы будут?</div>
        <strong>Documents</strong>
        <div><a href="/docs/whitepapter.pdf">Whitepaper 1.1</a> FIXME</div>
        <div><a href="/docs/tldr.pdf">TLDR</a> FIXME</div>
        <div><a href="/docs/roadmap.pdf">Roadmap</a> FIXME Почему бы не показать на сайте? В About или ICO</div>
        <div><a href="#">Privacy Policy</a> FIXME</div>
        <div><a href="#">Terms of Use</a> FIXME</div>
        <strong>Developers</strong>
        <div> <a href="FIXME">wiki</a> </div>
        <div> <a href="FIXME">api</a> </div>
        <div> <a href="FIXME">tools</a> </div>
      </div>


    </div>

  </div>

</footer>
